In [49]:
import sys
import argparse
import pickle as pkl
import pandas as pd
import numpy as np
import sqlalchemy as sa
import mysql_helpers as sql

In [32]:
# Required overhead: connect to college_football db and obtain the names
# of individual player statistics fields
eng_str = 'mysql+mysqlconnector://ffineis:password@localhost/college_football'
eng = sa.engine.create_engine(eng_str)

qb_df = pd.read_table('../../data/quarterbacks.tsv'
                      , encoding='latin-1')

In [46]:
# ---- Drop players in player table that have been deemed duplicates ---- #

# Identify duplicated players from qb_df
dup_player_ids = qb_df[qb_df['is_caucasian'] == 'duplicate'].player_id.tolist()
select_query = 'SELECT player_id FROM player WHERE player_id IN (%s);' % ', '.join([str(x) for x in dup_player_ids])

# Connect to db, find player_id's of the players in player table that are "duplicate"
conn = eng.connect()
dup_player_result = conn.execute(select_query).fetchall()
dup_player_df = pd.DataFrame(dup_player_result)

# If there are duplicated players in player table
if not dup_player_df.empty:
    delete_stmt = 'DELETE FROM player WHERE player_id IN (%s);' % ', '.join([str(x) for x in dup_player_ids])
    conn.begin()
    conn.execute(delete_stmt)
    conn.commit()
    
conn.close()

In [52]:
race_df = qb_df[~qb_df['is_caucasian'].isnull()][['player_id', 'is_caucasian']]
sql.update(race_df
           , engine=eng
           , table='player'
           , id_fields='player_id'
           , fields=['is_caucasian'])

Moving 1079 rows into staging table player_1515387979
Executing SQL UPDATE statement:
UPDATE player INNER JOIN player_1515387979 ON player.player_id = player_1515387979.player_id SET player.player_id = player_1515387979.player_id, player.is_caucasian = player_1515387979.is_caucasian
Executing SQL DROP statement:
DROP TABLE player_1515387979

In [61]:
qb_sql_file = '../../sql/select_quarterbacks.sql'
with open(qb_sql_file, 'r') as qb_sql:
    qb_sql_query = ' '.join([x.replace('\n', '') for x in qb_sql.readlines()])

In [64]:
qb_db_df = pd.read_sql(qb_sql_query
                       , con = eng)

In [74]:
qb_db_df.to_csv('../../data/quarterbacks_2.tsv', index=False, sep='\t')

In [75]:
qb_db_df_2 = pd.read_table('../../data/quarterbacks_2.tsv')
qb_db_df_2

,player_id,player_name,hometown,team_name,position_name,is_caucasian
0,46672,"Aaron, Montel","Antelope, CA",San Jose State,QB,NaN
1,39137,"Abey, Zach","Pasadena, MD",Navy,QB,NaN
2,42490,"Adams Jr., Vernon","Pasadena, CA",Oregon,QB,NaN
3,47292,"Adams, Devin","Mobile, AL",Auburn,QB,NaN
4,31692,"Adamson, Parker","Oxford, MS",Southern Mississippi,QB,NaN
5,46210,"Agner, Justin","Woodstock, GA",Kent State,QB,NaN
6,42131,"Agnew, Ryan","Southlake, TX",San Diego State,QB,NaN
7,40855,"Alexander, Christian","Lakeland, FL",Florida International,QB,NaN
8,33158,"Alie, Taylor","Eugene, OR",Oregon,QB,NaN
9,38802,"Allen, Andrew","Texas City, TX",New Mexico State,QB,NaN
10,33462,"Allen, Austin","Fayetteville, AR",Arkansas,QB,NaN
11,38369,"Allen, Kyle","Scottsdale, AZ",Texas A&M,QB,NaN
12,46674,"Allen, Sam","Midlothian, VA",San Jose State,QB,NaN
13,31258,"Alviti, Matt","Park Ridge, IL",Northwestern,QB,NaN
14,43480,"Amos, Gunnar","Coeur d'Alene, ID",Idaho,QB,NaN
15,43397,"Anthony, LaBaron","Hinesville, GA",Georgia Southern,QB,NaN
16,37648,"Apsay, Cade","Canyon Country, CA",Colorado,QB,NaN
17,38664,"Arbuckle, Nick","Camarillo, CA",Georgia State,QB,NaN
18,47920,"Arceneaux, Jake","Lafayette, LA",Louisiana-Lafayette,QB,NaN
19,32574,"Awini, Jaleel","Aurora, CO",Air Force,QB,NaN
20,41695,"Bahl, Billy","Woodstock, IL",Miami (Ohio),QB,NaN
21,31009,"Bailey, Aaron","Bolingbrook, IL",Illinois,QB,NaN
22,39976,"Banks, Jonathan","Houston, TX",Kansas State,QB,NaN
23,45606,"Banks, Kyle","Acworth, GA",Middle Tennessee,QB,NaN
24,40720,"Barden, Brooks","Cartersville, GA",Charlotte,QB,NaN
25,38125,"Barker, Drew","Burlington, KY",Kentucky,QB,NaN
26,48111,"Barker, Kaleb","Decatur, AL",Troy,QB,NaN
27,39410,"Barnes, James","Sumter, SC",Clemson,QB,NaN
28,42798,"Barnett, Blake","Corona, CA",Arizona State,QB,NaN
29,31287,"Barrett, J.T.","Wichita Falls, TX",Ohio State,QB,NaN
...,...,...,...,...,...,...
564,31459,"Weymann, Jonathon","Charlotte , NC",East Carolina,QB,NaN
565,46269,"Wezensky, Noah","Fort Wayne, IN",Miami (Ohio),QB,NaN
566,31363,"Whipple, Austin","Wexford, PA",Penn State,QB,NaN
567,42408,"White, Brady","Newhall, CA",Arizona State,QB,NaN
568,38928,"White, Connor","Watkinsville, GA",Texas State,QB,NaN
569,45602,"White, Jackson","Gainesville, FL",Marshall,QB,NaN
570,30076,"White, Mike","Fort Lauderdale, FL",South Florida,QB,NaN
571,35611,"Wiegers, Tyler","Lake Orion, MI",Iowa,QB,NaN
572,37608,"Wilkins, Manny","Novato, CA",Arizona State,QB,NaN
573,31666,"Williams, Dajon","Pflugerville, TX",North Texas,QB,NaN
574,32349,"Williams, Jack","Moscow, PA",Kent State,QB,NaN
575,43714,"Williams, L.G.","Cibolo, TX",Texas State,QB,NaN
576,45187,"Williams, Mark","Gainestown, AL",Minnesota,QB,NaN
577,51988,"Willis, Malik","Atlanta, GA",Auburn,QB,NaN
578,39974,"Willis, Ryan","Overland Park, KS",Virginia Tech,QB,NaN
579,47588,"Wilson, Micah","Tulsa, OK",Missouri,QB,NaN
580,36073,"Wilson, Price","Marietta, GA",Louisiana Tech,QB,NaN
581,41411,"Wimbush, Brandon","Hackensack, NJ",Notre Dame,QB,NaN
582,35145,"Wolford, John","Jacksonville, FL",Wake Forest,QB,NaN
583,36075,"Woodall, Alex","Summit, MS",Louisiana Tech,QB,NaN
584,32536,"Woodside, Logan","Frankfort, KY",Toledo,QB,NaN
585,36690,"Woodson, Thomas","Monroeville, PA",Akron,QB,NaN
586,32064,"Worth, Will","Valrico, FL",Navy,QB,NaN
587,46420,"Worthman, Arion","Normal, IL",Air Force,QB,NaN
588,34321,"Wright, Luke","Atlanta, GA",Cincinnati,QB,NaN
589,44810,"Wudtee, Keondre","Bossier City, LA",Oklahoma State,QB,NaN
590,38661,"Youyoute, Ezayi","Wauchula, FL",Georgia Southern,QB,NaN
591,32137,"Zaire, Malik","Kettering, OH",Notre Dame,QB,NaN
592,38302,"Zanders, Marvin","Jacksonville, FL",Missouri,QB,NaN
593,42053,"Zwahlen, Aaron","Modesto, CA",Hawai'i,QB,NaN